.boton{
    color: rgb(8, 1, 14);
    background-color: rgb(226, 204, 223);
}

.caja{
    color: rgb(3, 3, 3);
    background-color: rgb(211, 211, 218);
    text-align: center;
    border-radius: 50px;
}
.datoscaja{
    text-align: center;

}

h1{
    color: darkmagenta;
    text-align: center;
}
h2{
    color: darkmagenta;
}

